.news_item .prop_title {
	font-size: 22px;
	font-weight: bold;
}

.news_item .prop_datetime {
	font-size: 80%;
	margin: 4px 0px 10px 0px;
}

.news_list .news_item {
	margin: 10px;
	padding: 6px;
	border-bottom: 1px solid #b9b9b9;
}

.news_list .news_item .prop_tags_list,
.news_list .news_item .prop_title,
.news_list .news_item .prop_datetime,
.news_list .news_item .link,
.news_list .news_item .tags_list,
.news_list .news_item .prop_announce {
	margin-left: 105px;
}

.news_list .news_item .prop_img,
.news_list .news_item .prop_thumb,
.news_list .news_item .prop_img_thumb {
	margin: 4px 4px 4px 0px;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
}
