.cmf-draggable-panel {
	position: absolute;
	float: left;
	height: 25px;
	padding-left: 11px;
	cursor: move;
	background-image: url(images/begin.png);
	background-position: left;
	background-repeat: no-repeat;
	border-right: solid 1px #aeaeae;
}

.cmf-draggable-split-menu {
	height: 25px;
	cursor: default;
	background-image: url(images/fill.png);
	background-repeat: repeat-x;
	padding-top: 1px;
	opacity: 0.75; 
}

.cmf-draggable-split-menu:hover {
	opacity: 1.0;
}
.cmf-frontadmin-node {
	border-color: transparent;
	border-style: dashed;
	border-width: 1px;
}

.cmf-frontadmin-node:hover {
	border-color: red;
	border-width: 1px;
/*	padding: -1px;*/
/*	margin: -1px;*/
}

.cmf-frontadmin-node-a {
	position: relative;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0px 4px 2px 4px;
	margin-right: 3px;
	display: inline-block;
	background-color: white;
	color: gray;
	font-size: 12px;
	opacity: 0.2; 
	filter:alpha(opacity=20);
}

.cmf-frontadmin-node-a:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.cmf-frontadmin-node-a a {
	float: left;
	text-decoration: none;
	color: blue;
}

.cmf-frontadmin-node-a a:hover {
	text-decoration: underline;
}
